body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #007bff; /* Biru primary */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.converter-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #ffffff; /* Warna card bebas */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #666;
}

input {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}
